@media (max-width: 980px) {
    .social_links {
        display: none;
    }
    .header__content .et_pb_menu .et_pb_menu__wrap {
        justify-content: flex-end;
    }
    #menu_icon_block div.et_mobile_nav_menu {
        display: none !important;
    }
    .header__content .opened ul#mobile_menu1 {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        background: #223752!important;
        z-index: 8;
        border: none !important;
    }
    #mobile_menu1 div.et_pb_menu__menu {
        display: flex !important;
        justify-content: center;
    }
    ul#mobile_menu1 ul.et_pb_module {
        display: flex;
        justify-content: center;
        background-color: transparent !important;
    }
    ul#menu-menu-icon,
    ul#menu-menu-icon-1,
    ul#menu-menu-icon-2 {
        background-color: transparent !important;
    }
    div#menu_principal_section .header__content.et_pb_column {
        margin: 0 !important;
    }
    #mobile_menu1>li.menu-item>a {
        padding: 10% 0 !important;
        font-size: 26px;
        text-transform: uppercase;
    }
    span.mobile_menu_bar {
        z-index: 9;
    }
    #mobile_menu1 div#header-links {
        display: block;
    }
    .et_pb_menu_0_tb_header .mobile_nav .mobile_menu_bar:before {
        color: #fff !important;
    }
    #mobile_menu1>div#header-links.et_pb_module:first-child .header__links:first-child>li:nth-child(n+4) {
        display: none;
    }
    #mobile_menu1>div#header-links.et_pb_module:last-child .header__links:first-child>li:not(:nth-child(n+4)) {
        display: none;
    }
    ul#mobile_menu1>#header-links.et_pb_module:not(:last-child) {
        margin-bottom: 20px;
    }
    ul#mobile_menu1>#header-links.et_pb_module:last-child {
        margin-top: 20px;
    }
    #et-boc .header__content .et_mobile_menu li a:hover {
        color: #e9af17!important;
    }
    .header__content .opened .mobile_menu_bar:before {
        content: "\4d"!important;
    }
}